@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    // text-align: center;
    font-family: 'prompt';
}
body {
    background: $primary-color;
}
.max-width {
    max-width: 1300px;
    margin: auto;
}
